<?xml version="1.0"?>
<RulerSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <MoveStep>10</MoveStep>
  <ShiftMoveStep>1</ShiftMoveStep>
  <RotateStep>1</RotateStep>
  <GridStep>1</GridStep>
  <GripStep>21</GripStep>
  <Transparency>30</Transparency>
  <LineWidth>1</LineWidth>
  <ShowLabels>true</ShowLabels>
  <LineMode>1</LineMode>
  <LineColorA>255</LineColorA>
  <LineColorR>255</LineColorR>
  <LineColorG>0</LineColorG>
  <LineColorB>128</LineColorB>
  <GoldenLineColorA>255</GoldenLineColorA>
  <GoldenLineColorR>0</GoldenLineColorR>
  <GoldenLineColorG>255</GoldenLineColorG>
  <GoldenLineColorB>64</GoldenLineColorB>
  <FocusBorderColorA>255</FocusBorderColorA>
  <FocusBorderColorR>0</FocusBorderColorR>
  <FocusBorderColorG>255</FocusBorderColorG>
  <FocusBorderColorB>128</FocusBorderColorB>
  <GridMode>5</GridMode>
  <GridOrigin>0</GridOrigin>
  <GridCellSize>16</GridCellSize>
  <Hotkeys>
    <HotkeyEntry>
      <Action>MoveLeft</Action>
      <Key>A</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>MoveRight</Action>
      <Key>D</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>MoveUp</Action>
      <Key>W</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>MoveDown</Action>
      <Key>S</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>FineLeft</Action>
      <Key>Shift+A</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>FineRight</Action>
      <Key>Shift+D</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>FineUp</Action>
      <Key>Shift+W</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>FineDown</Action>
      <Key>Shift+S</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GripLeft</Action>
      <Key>A</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GripRight</Action>
      <Key>D</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GripUp</Action>
      <Key>W</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GripDown</Action>
      <Key>S</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>NextMode</Action>
      <Key>Enter</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>NextOrigin</Action>
      <Key>Space</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>RotateCCW</Action>
      <Key>Q</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>RotateCW</Action>
      <Key>E</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>ResetRotation</Action>
      <Key>F</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>RotateInput</Action>
      <Key>G</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>TransparencyUp</Action>
      <Key>V</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>TransparencyDown</Action>
      <Key>C</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Mode1</Action>
      <Key>D1</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Mode2</Action>
      <Key>D2</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Mode3</Action>
      <Key>D3</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Mode4</Action>
      <Key>D4</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Mode5</Action>
      <Key>D5</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Mode6</Action>
      <Key>D6</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>ZoomIn</Action>
      <Key>X</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>ZoomOut</Action>
      <Key>Z</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>LockRatio</Action>
      <Key>Alt+Q</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>ToggleTitleBar</Action>
      <Key>H</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>ToggleSettings</Action>
      <Key>Tab</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>Exit</Action>
      <Key>Escape</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>ToggleLineMode</Action>
      <Key>T</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GlobalFocus</Action>
      <Key>Alt+D2</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GlobalFocusAtMouse</Action>
      <Key>Alt+D1</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GoldenHLine</Action>
      <Key>Alt+Q</Key>
    </HotkeyEntry>
    <HotkeyEntry>
      <Action>GoldenVLine</Action>
      <Key>Alt+W</Key>
    </HotkeyEntry>
  </Hotkeys>
</RulerSettings>